<!DOCTYPE HTML>
<html>
 <head>
	<title>Big Fat Flea Pickups!</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!--<script src="/js/script.js"></script>-->
 </head>

 <body>
 	<div class="container">
  		{{{body}}}
  	</div>
 </body>
</html>